{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> Welcome to microhub</h1>
</header>

<p>microhub allows you to create small micro-communities around any topic, whether it be your local football club or a particular interest group. "Hubs" can be public or private.</p>

<p><a href="/hub/create">Create your hub</a></p>

<hr />

<h2>My Hubs</h2>

{% if privateHubs|length > 0 %}
  <ul>
    {% for hub in privateHubs %}
      <li><a href="/m/{{ hub.slug }}">{{ hub.name }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}