<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link href="/test.compressed.css" rel="stylesheet" />
</head>
<body>

<nav class="user">
    {% if user == null %}
        <a href="/login">Login</a> <em>/</em> <a href="/register">Register</a>
    {% else %}
        <a href="/account">({{ user.username }})</a> <em>/</em> <a href="/logout">Logout</a>
    {% endif %}
</nav>

{% block body %}{% endblock %}

</body>
</html>