{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> <a href="/m/{{ hub.slug }}">{{ hub.name }}</a> <em>/</em> {{ topic.title }}</h1>
</header>


<p>{{ topic.content }}</p>


<footer class="secondary">
  
</footer>
{% endblock %}