{% extends "shell.twig" %}

{% block body %}
<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> export your hub</h1>
</header>

  <p>For now, until we automate this process, please contact us and we'd be happy to send you the export</p>


{% endblock %}