{% extends "shell.twig" %}

{% block body %}

<header class="secondary">
  <h1><a href="/">&#8962;</a> <em>/</em> Login</h1>
</header>

{% if errors %}
	<p class="error">{{ errors.join(", ") }}</p>
{% endif %}

<form action="{{ url('userLogin') }}" method="post">
	<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
	<div class="form-row">
		<label>Email:</label>
		<input type="text" name="email"/><br/>
	</div>
	<div class="form-row">
		<label>Password:</label>
		<input type="password" name="password"/>
	</div>
	<div class="form-row">
		<input type="submit" value="Submit"/>
	</div>
</form>
{% endblock %}